

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");

body {
    background: #0c3452;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    color: white;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: #0c3452;
    overflow-x: hidden;
    -webkit-box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
    -moz-box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
    box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav .icon {
    width: 35px;
    height: 35px;
    padding: 20px;
    border-radius: 100%;
}

.sidenav i {
    text-decoration: none;
    font-size: 30px;
    display: block;
    padding: 20px;
    cursor: pointer;
}

.sidenav a {
    text-decoration: none;
}

.sidenav i:hover {
    color: #f1f1f1;
}

.sidenav .bottom-sidenav {
    margin-bottom: 70% !important;
}

.sidenav .bottom-sidenav a {
    color: white;
}

.main {
    margin-left: 80px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

#Home {
    display: none;
}

#Home .left-side {
    width: 50%;
    float: left;
    height: 100%;
    position: fixed;
}

#Home .left-side p {
    padding: 10%;
    font-size: 40px;
}

#Home .left-side p .s1 {
    font-size: 20px;
}

#Home .left-side p .s2 {
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
}

#Home .right-side {
    padding-top: 8%;
    width: 50%;
    float: right;
    height: 100%;
    font-size: 30px;
}

.right-side div {
    margin-top: 20px;
    padding: 20px;
}

.right-side a {
    color: white;
    text-decoration: none;
}

.right-side a:hover {
    color: gray;
}

#Projects {
    height: 100%;
    padding: 5%;
}

#Projects .projects-title p {
    font-size: 45px;
}

#Projects .projects-title p .s1 {
    font-size: 20px;
}

#Projects #all-projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    font-size: 20px;
    margin-top: 40px;
    margin-right: 10px;
    min-width: 400px;
    width: 400px;
    max-width: 450px;
}

.project a {
    color: white;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project .title {
    font-size: 35px;
    font-weight: bold;
}

.project .tech-used {
    font-size: 15px;
}

.project .links {
    margin-top: 20px;
    font-size: 25px;
}

.project .links a {
    color: white;
    padding: 5px;
}

#Posts {
    height: 100%;
    padding: 5%;
}

#Posts .posts-title p {
    font-size: 45px;
}

#Posts .right-side {
    width: 100%;
    height: 100%;
    font-size: 30px;
}

#Posts .right-side div {
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding-left: 0px;
}

#Contact {
    height: 100%;
    padding: 5%;
}

#Contact .contact-title p {
    font-size: 45px;
}















