

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    background: #0c3452;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    color: white;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: #0c3452;
    overflow-x: hidden;
    -webkit-box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
    -moz-box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
    box-shadow: 15px 0px 10px -10px rgba(0,0,0,0.51);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav .icon {
    width: 35px;
    height: 35px;
    padding: 20px;
    border-radius: 100%;
}

.sidenav i {
    text-decoration: none;
    font-size: 30px;
    display: block;
    padding: 20px;
    cursor: pointer;
}

.sidenav a {
    text-decoration: none;
}

.sidenav i:hover {
    color: #f1f1f1;
}

.sidenav .bottom-sidenav {
    margin-bottom: 70% !important;
}

.main {
    margin-left: 80px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    height: 100vh !important;
}

#Home .left-side {
     background: red;
     width: 80%;
}

#Home .right-side {
     background: red;
     width: 80%;
}


















